/* :root {
    --black: #000;
    --grey: #7D808A;
    --white: #fff;
    --clr1: #2fb982;
    --clr2: #2b883e;
    --clr3: #229940;
    --clr4: #038C4C;
    --clr5: #025930;
}

*,
*::after,
*::before,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    display: grid;
    height: 100%;
    place-items: center;
}

#poster {
    border: 2vmin solid var(--black); */
    /* box-shadow: 0 4vmin 8vmin -4vmin;
    box-sizing: content-box;
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

#canvas {
    align-items: flex-start;
    background: var(--black);
    display: flex;
    gap: .3vmin;
    height: 80vmin;
    overflow: hidden;
    justify-content: center;
    position: relative;
    width: 50vmin;
}

#canvas::before {
    bottom: 4.8vmin;
    color: var(--clr4);
    content: 'The Matrix Resurrections';
    font: normal 1.25vmin/1 monospace;
    position: absolute;
    pointer-events: none;
}

#canvas span {
    background: var(--clr5);
    height: 10%;
    opacity: .75;
    position: absolute;
    transition: .2s linear;
    width: .4vmin;
} */
* {
    margin: 0;
    padding: 0;
}

html,
body{
    display: grid;
    height: 100%;
    place-items: center;
}


.canvas{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.title{
    color: #00c600;
    text-align: center;
    font-size: 100px;
}
